*.ipynb_checkpoints
*.DS_Store
*.idea
*.pyc
*__pychache__
*.npy
*.ipynb

## Core latex/pdflatex auxiliary files:
/data/output/*
/data/temp/*
/data/demo/*
/data/input/*
*.tex
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
